[Unit]
Description=Notes Application
After=network.target

[Service]
User=app
WorkingDirectory=/opt/notes
ExecStart=/usr/bin/java -jar /opt/notes/target/easy-notes-1.0.0.jar
Restart=always
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
